.biz-index{

    list-style: none;
}

.index-biz-list-item {
    width: 600px;
    height: 200px;
    margin: 15px;
    display: flex;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 30px;
}
.index-biz-list-item img {
    width: 300px;
    height: 180px;
    text-decoration: none;
    border-radius: 6px;
    z-index: 20;
}

.biz-and-map {
    display: flex;
    margin-left: 13%
}

.index-map {
    display: float;
    position: sticky;
    width: 400px;
    height: 520px;
    top: 0;
    padding: 20px;
}


.biz-index-deets p {
    padding-left: 10px;
    margin: 10px;
}

.biz-link {
    text-decoration: none;
    color: #0073bb;
    margin-left: 10px;
}