.top-of-business-show {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.business-name {
   font-weight: bold;
    font-size: 30px;
    line-height: 1.2em;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin-left: 40px;
}

.business-with-buttons {
    background: #eee;
    height: 410px;
}


.showPageNav {
    height: 65px;
    background-color: #d32323;
        z-index:10000 !important;
}

.showBizSearch {
    margin-left: 40%;
    top: 10px;
}

.review-button {
    color: white;
    background: #d32323;
    border: 1px solid #d32323;
    margin-right: 15px;
    padding: 5px 15px;
    font-size: 22px;
    border-radius: 4px;
    /* text-decoration: none; */
}

.secondary-buttons {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 15px;
}   

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.review-button:hover {
    background: rgb(226, 82, 82);
    transition-duration: 1s;
}

.middle-business-show {
    display: flex;
    position: absolute;
    width: 238px;
    justify-items: center;
    margin-top: 30px;   
    margin-left: 80px;
    padding: 15px;
    padding-bottom: 175px;
    border: 1px solid black;
    background: #fff;
}

.biz-pix img {
    transition: .2s ease-in-out;
    height: 220px;
}

.biz-pix:hover img:nth-child(2) {
    transition: .1s ease-out;
    transform: scale(1.0);
}
.biz-pix:hover img:hover {
    transform: scale(1.3);
    z-index: 3;
}


.biz-pix img:nth-child(2) {
    transform: scale(1.3);
}


.biz-pix {
    display:flex;
    position: absolute;
    margin-top: 53px;
    height: 200px;
    margin-left: 254px;
    top: -30px;
}

.biz-map {
    height: 135px;
    width: 240px;
    overflow: visible;
}

.map-container {
    height: 100px;
    width: 200px;
    font-family: Helvetica;
}

.businessButtons {
    padding-top: 40px;
}

.map-container p {
    font-family: Helvetica;
    line-height: 1.5;
    font-size: 14px;
    padding-top: 3px;
}

.fa-check-circle {
    color: hsl(240, 100%, 66%);
    font-size: 14px;
}

.mid-part-title {
    font-weight: 600;
    font-style: normal;

}

.actual-biz-content {
    position: relative;
    width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.whole-top-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.whole-top {
    background: #eee;
}

.biz_pic {
    width: 200px;
    height: 200px;
}

.nameOfCity {
    width: 60px;
}

.timeOfReview {
    position: absolute;
    color: #ccc;
    left: 55%; 
    font-size: 14px;
    /* top: 10px; */
}