.hours {
    border-left: 1px solid #ccc;
    height: 400px;
    width: 500px;
    position: sticky;
    top: 0;
}

.hours p {
    font-weight: bold;
    padding-left: 10px;
}

.hours h3 {
    font-weight: bold;
    margin: 15px;  
    padding-bottom: 10px;
    color: #d32323;
    border-bottom: 1px solid #ccc;
}

.hours h2{
    padding: 10px;
}