.ask-the-community {
    border-bottom: 1px solid #ccc;
    color: #d32323;
    font-size: 21px;
    font-weight: bold;
    padding: 10px;
    width: 80%;
    position: flex;
}

.review-ratings {
    background-image: image-url("all_stars.png");
    height: 28px;
    width: 166px;
}

#uno {
    background-position: 0 -868px;
}
#uno-half {
    background-position: 0 -896px;
}
#dos {
    background-position: 0 -924px;
}
#dos-half {
    background-position: 0 -952px;
}
#tres {
    background-position: 0 -980px;
}
#tres-half {
    background-position: 0 -1008px;
}
#quatro {
    background-position: 0 -1036px;
}
#quatro-half {
    background-position: 0 -1064px;
}
#cinco {
    background-position: 0 -1092px;
}
#zero {
    background-position: 0 -840px;
}

.rating-container {
    margin-top: 15px;
    display:flex;
}

.review-body {
    margin-top: 10px
}

.stars-and-body {
    margin-left: 20px;
    width: 70%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}   

.reviews-container-container{
    display: flex;
}

.reviewForm {
    width: 1000px;
    position: center;
    margin: 0 auto;
    padding-top: 25px;
}

.bizTitle {
    font-weight: bold;
    margin: 40px;
    font-size: 35px;
    top: 20px;
    color: #0073bb;
    text-decoration: none;
}

.bizTitle:hover {
    text-decoration: underline;
}
.reviewFormfillout {
    padding: 10px 100px;
    border: 1px solid #ccc;
    margin: 15px;
    margin-right: 40px;
}


.reviewFormBody {
    font-size: 18px;
    line-height: 1.33333em;
    line-height: 1.44em;
    outline: none;
    resize: none;
    width: 100%;
    min-height: 258px;
    border: 1px solid #ccc;
    word-wrap:break-word;
}

.rating-stars {
    display:flex;
}