.splish-splash {
    position: relative;
    background-image: image-url("splash1.jpg");
    background-size: 100%;
    height: 550px;
    min-width: 1100px !important;
    background-position: 0 -100px;
}
.food-label {
    margin-left: 22%;
    background: white;
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    border-radius: 4px 0 0 4px;
    font-family: Arial, Helvetica, sans-serif
}

.location-label{ 
    background: white;
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif
}

.food-search {
    position: relative;
    width: 20%;
    margin-top: 250px;
    // margin-left: 26%;
    padding: 12px;
    border-radius: 10px;
    background-color: transparent;
    border: 0px solid;
    outline: none;
}

.location-search {
    position: relative;
    width: 20%;
    padding: 12px;
    border-radius: 10px;
    background-color: transparent;
    border: 0px solid;
    outline: none;
    // color: #CCC;
}

.splash-search {
    border-radius: 0 4px 4px 0;
    border: 0;
    background: #d32323;
    padding: 11px 20px 11px;
    box-shadow: none;
    color: white;
    font-size: 16px;
    transition-duration: 1s;
}

.splash-search:hover {
    background: #a71b1b
}

.title-icon {
    position: absolute;
    color: #D32323;
    font-weight: bold;
    height: 300px;
    width: 300px;
    justify-content: center;
    padding-left: 38%;
}

.splash-biz-list-item {
    width: 330px;
    height: 320px;
    border: 1px solid #ccc;
    margin: 15px;
    border-radius: 6px;
}

.splash-biz-list-item p {
    // padding: 10px;
}


.splash-biz-list-item a {
    color: blue;
    text-decoration: none;
    // padding: 10px;
    // margin-top: 40px;
}

.splash-biz-list-item a:hover {
    text-decoration: underline;
}

.splash-biz-list-item img {
    width:100%;
    height: 180px;
    text-decoration: none;
    // margin-top: 10;
}
.splash-biz-list {
    display:flex;
    max-width: 1000px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #ccc;
}

.under-splash h3 {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 1.3125em;
    color: #d32323;
}

.splash-biz-reviews {
    display:flex;
}

.splash-reviews-count {
    color: #bbb;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 12px;
    padding: 10px;
}

.biz-address-splash {
    margin: 10px
}

.link-to-index {
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}