.top-search {
    padding-top: 18px;
    height: 15px;
    margin-left: 60px;
}

.top-search-food {
    height: 20px;
    margin-left: 10px;
    border: none;
}
.top-search-location {
    height: 20px;
    margin-left: 10px;
    border: none;
    z-index: 1000;
}

.top-search-find {
    background: white;
    padding: 5px;
    border-right: 1px solid #ccc;
}
.top-search-near {
    background: white;
    padding: 5px;
}

.top-search-button {
    font-size: 20px;
    background:  rgb(150, 26, 26);
    border: rgb(150, 26, 26);
    padding-bottom: 6px;
    color: white;
}

